mixin listRelated(items)
  each item in items
    .component-item-related
      if item.image
        .component-item-related__image
          +link(rel="stylesheet", href=item.link, title=item.title)
            +img(src=item.image, alt="", title=item.title)
      .component-item-related__title
        +link(rel="stylesheet", href=item.link, title=item.title)
          !=item.title
