extends _layouts/layout

block append vars
  - title = 'Search (logout)'
  - isFooterBoth = true
  - namespace = 'search-page'
block container
  .search(data-search)
    .container#app
      com-container
        com-heading-search(slot="left")
        com-filter(slot="left")
        com-no-result-sidebar(
          slot="left"
          image="/images/search/sidebarArtboard.png"
        )
        com-tab-list(slot="right")
          com-tab-list-item(name="actives")
          com-tab-list-item(name="systems")
          com-tab-list-item(name="dispersions")
          com-tab-list-item(name="formula")
          com-tab-list-item(name="resource")
        com-wrapping(slot="right")
          com-filter-mobile
          com-sign-in(
            background-image="/images/product/bg-signin.png"
            url-sign-in="/sign-in"
            url-request-access="/request-access"
          )
          com-listing
            com-list-search(
              :hasborder="true"
              data="/data/search-data.json"
              filter="/data/search-filter.json"
            )
            com-load-more
          com-no-result(
            image="/images/search/microscope_lg.svg"
            text="No matching results could be found. Modify your keywords and try again."
          )
